<div class="grid">
  <div class="img">
    <img class="candle" height="90%" src="assets/v3png.png" alt="candle" />
  </div>

  <div class="text">
    <div>
      <div class="name">
        <img class="logo" src="../../assets/dysonlogo.jpg" />
        <div class="color">lucerna</div>
      </div>
      <div class="headline">
        <div class="small">Dysons Lucerna T4 &trade; Kerze</div>
        <div style="font-weight: 600">Mit der längsten Brenndauer</div>
      </div>
      <button class="cta">
        <span class="ripple"></span> <span class="btn-text">Jetzt Kaufen!</span>
      </button>
    </div>
  </div>
</div>
