<div class="grid">
  <div class="cont">
    <div class="icons">
      <img class="margin" src="assets/instagram.png" alt="instagram" />
      <img class="margin" src="assets/whatsapp.png" alt="whatsapp" />
      <img class="margin" src="assets/twitter.png" alt="twitter" />
      <img class="margin" src="assets/facebook.png" alt="facebook" />
      <img src="assets/youtube.png" alt="youtube" />
    </div>

    <div class="links">
      <div>Datenschutzerklärung</div>
      <div class="middle">Impressum</div>
      <div>Kontakt</div>
    </div>

    <div>&copy; Dyson 2021</div>
  </div>
</div>
