.flex {
  display: flex;
  margin: auto;
  width: fit-content;
  padding: 64px 0px;
}
.flex-inner {
  display: flex;
  align-items: center;
}
.benefit {
  display: flex;
  align-items: center;
  height: fit-content;
  justify-content: center;
}
.text,
.icon {
  font-size: 30px;
  display: grid;
  align-items: center;
  color: #9e9e9e;
}
.text {
  margin-left: 16px;
}
.icon {
  margin-left: 64px;
}
.size {
  width: 52px;
  height: 52px;
  font-size: 52px;
}
.first {
  margin-left: 0;
}

@media (max-width: 1279px) {
  .flex {
    display: block;
    padding: 64px 128px;
    width: auto;
  }
  .benefit4 .text,
  .icon {
    font-size: 25px;
  }
  .flex-inner {
    justify-content: space-between;
  }
  .icon {
    margin-left: 0;
  }
  .benefit-4 {
    margin-right: 8px;
    margin-top: 32px;
  }
  .benefit-3 {
    margin-top: 32px;
    margin-right: 32px;
  }
  .benefit-1 {
    margin-right: 32px;
  }
  .size {
    width: 42px;
    height: 42px;
    font-size: 42px;
  }
  .benefit {
    justify-content: flex-start;
  }
}
@media (max-width: 920px) {
  .flex {
    padding: 64px 64px;
  }
}
@media (max-width: 783px) {
  .flex {
    padding: 64px 0px;
  }
  .flex-inner {
    display: block;
  }
  .benefit-2,
  .benefit-3,
  .benefit-4 {
    margin: 32px 0px 0px 0px;
  }
  .benefit-1 {
    margin: 0;
  }
  .size {
    width: 32px;
    height: 32px;
    font-size: 32px;
  }
}
