<div class="grid">
  <div class="video">
    <iframe
      src="https://streamable.com/e/p6exy5?autoplay=1&nocontrols=1&muted=1"
      frameborder="0"
      width="100%"
      height="100%"
      allowfullscreen
      allow="autoplay"
      title="Candle Video"
    ></iframe>
  </div>
  <div class="text">
    <ul>
      <li>Verfügbar in 4 verschiedenen Farben</li>
      <li>Über 20 verschiedene Sounds</li>
      <li>Inklusive zwei extra Wachs-Nachfüllern</li>
      <li>5 Jahre Garantie</li>
    </ul>
  </div>
  <div class="buy">
    <div class="price">ab 85,00 €</div>
    <div class="mwst">Preis zzgl. MwSt.</div>
    <button class="cta">
      <span class="ripple"></span>
      <span class="btn-text">Jetzt Kaufen!</span>
    </button>
  </div>
</div>
