<div class="outer">
  <div class="bg-black">
    <div class="normal-comp"><app-header></app-header></div>
  </div>

  <div class="normal-comp"><app-benefits></app-benefits></div>

  <div class="bg-black">
    <div class="normal-comp"><app-image-text></app-image-text></div>
  </div>

  <div class="normal-comp"><app-price-info></app-price-info></div>

  <div class="bg-black">
    <div class="normal-comp"><app-interactive></app-interactive></div>
  </div>

  <div class="normal-comp"><app-review></app-review></div>

  <div class="bg-black">
    <div class="normal-comp"><app-footer></app-footer></div>
  </div>
</div>
