<div class="grid">
  <div class="text fs">
    <div>Von David Hofmann:</div>
    <img src="assets/stars_full.png" alt="stars" />
    <div>
      Habe mir die Kerze vor zwei Wochen bestellt und bin total begeistert. Das
      nachfüllen des Wachs ist super einfach und hält total lang! Auch die
      Geräusche sind ganz praktisch, habe zum Beispiel neulich beim Grillen die
      Lagerfeuergeräusche an gemacht und war ein absoluter Hit bei meinen
      Freunden! Werde mir auf jeden Fall eine zweite kaufen, kann die Dyson
      Lucerna T4 nur empfehlen!
    </div>
  </div>

  <div class="rating">
    <div class="inner">
      <div class="fs">Gesamtbewertung:</div>
      <div><span class="big">4,7</span><span class="small">/5</span></div>
      <img src="assets/stars_png.png" alt="stars" />
      <div class="fs quality">Unübertroffene Qualität!</div>
      <button class="cta">
        <span class="ripple"></span> <span class="btn-text">Jetzt Kaufen!</span>
      </button>
    </div>
  </div>
</div>
