<div class="grid">
  <div [class.in-view]="inView1" #img1 class="img1">
    <img class="img" width="100%" src="../../assets/filter_png.png" />
  </div>
  <div [class.in-view]="inView1" class="text1">
    <div>
      <div class="headline">Entfernt automatisch Schadstoffe aus der Luft</div>
      <div class="text">
        Ob Gerüche, Pollen, Bakterien oder anderes, die neue Dyson Kerze erkennt
        diese und bereinigt die Luft automatisch. So werden bis zu 99% der
        Partikel in der Luft gefiltert.
      </div>
    </div>
  </div>

  <div [class.in-view]="inView2" #img2 class="img2">
    <img class="img" width="100%" src="../../assets/back2_png.png" />
  </div>
  <div [class.in-view]="inView2" class="text2">
    <div>
      <div class="headline">Nachfüllbare Wachskammer</div>
      <div class="text">
        Mit der Dyson Lucerna T4 haben Sie keinen unnötigen Abfall mehr. Die
        Kerze lässt sich durch auffüllen der Wachskammer stets weiterverwenden
        mit einer maximalen Brenndauer von bis zu 120 Stunden je Füllung.
      </div>
    </div>
  </div>
</div>
