body {
  margin: 0;
}
.normal-comp {
  max-width: 1640px;
  margin: auto;
  height: 100%;
}
.cta {
  background-color: #79b928;
  cursor: pointer;
  outline: none;
  padding: 20px 8px;
  display: flex;
  justify-content: center;
  border: none;
  min-width: 120px;
}
@media (max-width: 1689px) {
  .normal-comp {
    width: calc(100% - 100px);
    margin: 0 50px;
  }
}
@media (max-width: 1279px) {
  .normal-comp {
    width: calc(100% - 60px);
    margin: 0px 30px;
  }
}
@media (max-width: 599px) {
  .normal-comp {
    width: calc(100% - 30px);
    margin: 0px 15px;
  }
}
