@import url("https://use.typekit.net/exc0iyb.css");
body {
  margin: 0;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 300;
}
.cta {
  background-color: #79b928;
  cursor: pointer;
  outline: none;
  padding: 20px 8px;
  display: grid;
  justify-content: center;
  border: none;
  width: 250px;
  height: 60px;
  font-size: 1rem;
  font-weight: 500;
  overflow: hidden !important;
  background-position: center;
}
.cta:hover .ripple {
  width: 500px;
  height: 200px;
  margin: -20px auto 0 auto;
  transition: all 0.7s;
}
.ripple {
  width: 0px;
  height: 0;
  border-radius: 60px;
  margin: 0px auto 0 auto;
  height: calc(100% + 40px);
  grid-column: 1;
  background-color: #669b22;
  grid-row: 1;
  align-self: center;
  transition: all 0s;
}
.btn-text {
  grid-row: 1;
  grid-column: 1;
}
@media (max-width: 360px) {
  .cta {
    width: 100%;
  }
}
